# Continuous Probabilistic Methods Exercises
***

### 1. Using lemonade.csv dataset and focusing on continuous variables:

- a.)  Use the IQR Range Rule and the upper and lower bounds to identify the lower outliers of each column of lemonade.csv, using the multiplier of 1.5. Do these lower outliers make sense? Which outliers should be kept?

In [1]:
#Import Libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import itertools

#Import custom functions
import continuous_probabilistic_methods as cpm

In [2]:
#Read lemonade data from .csv (link in class notebook) 

df = pd.read_csv('https://gist.githubusercontent.com/ryanorsinger/19bc7eccd6279661bd13307026628ace/raw/e4b5d6787015a4782f96cad6d1d62a8bdbac54c7/lemonade.csv')

In [3]:
df.head()

     Date        Day  Temperature  Rainfall  Flyers  Price  Sales
0  1/1/17     Sunday         27.0      2.00      15    0.5     10
1  1/2/17     Monday         28.9      1.33      15    0.5     13
2  1/3/17    Tuesday         34.5      1.33      27    0.5     15
3  1/4/17  Wednesday         44.1      1.05      28    0.5     17
4  1/5/17   Thursday         42.4      1.00      33    0.5     18

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         365 non-null    object
 1   Day          365 non-null    object
 2   Temperature  365 non-null    float64
 3   Rainfall     365 non-null    float64
 4   Flyers       365 non-null    int64
 5   Price        365 non-null    float64
 6   Sales        365 non-null    int64
dtypes: float64(3), int64(2), object(2)
memory usage: 20.1+ KB

In [5]:
df.Temperature.quantile(0.25)

49.7

In [13]:
for col in df[['Temperature','Rainfall','Flyers','Price','Sales']]:
    
    mult, lower, upper = cpm.get_lower_and_upper_bounds(df[col],1.5)
    
    print(col," Multiplier: ",  mult,  "\n","Lower Outliers: ", lower, "Upper Outliers", upper, "\n")

Temperature  Multiplier:  1.5
 Lower Outliers:  16.700000000000003 Upper Outliers 104.7

Rainfall  Multiplier:  1.5
 Lower Outliers:  0.26 Upper Outliers 1.3

Flyers  Multiplier:  1.5
 Lower Outliers:  4.0 Upper Outliers 76.0

Price  Multiplier:  1.5
 Lower Outliers:  0.5 Upper Outliers 0.5

Sales  Multiplier:  1.5
 Lower Outliers:  5.0 Upper Outliers 45.0